---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.svelte';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.svelte';
import Showcase from '../components/Showcase.svelte';
import Features from '../components/Features.astro';
import HowToUse from '../components/HowToUse.svelte';
import Download from '../components/Download.astro';
import Community from '../components/Community.astro';
import Analytics from '@vercel/analytics/astro'
---

<Layout title="FORGE-CLI | The Multi-Model Terminal AI Coding Agent">
	<main>
    <Nav client:load />

		<Hero />
    <Stats client:load />
    <Showcase client:load />
    <Features />
    <HowToUse client:load />
    <Download />
    <Community />
    <Analytics/>
	</main>
</Layout>
